.Rproj.user
.Rhistory
.RData
.Ruserdata

#Pmetrics build

PMchangelog.html
PACKAGES
PACKAGES.gz
PACKAGES.rds
Pmetrics/DESCRIPTION
Pmetrics/man/*
Archived
Pmetrics.Rcheck/
Pmetrics/inst/code/0blasnpag.f
Pmetrics/inst/code/dvode_v1.f90
Pmetrics/inst/code/emint_b01.f
Pmetrics/inst/code/npag_utils.f90
Pmetrics/inst/code/remoteNPrun.sh
Pmetrics/inst/code/win2mac.sa
pmbuildout.txt
Pmetrics/inst/code/DOeng_7.f
Pmetrics/inst/code/ITeng_114.f
Pmetrics/inst/code/ITerr_114.f
Pmetrics/inst/code/ITprep_114.f
Pmetrics/inst/code/NPeng_120.f
Pmetrics/inst/code/NPprep_120.f
Pmetrics/inst/code/SIMeng_114.f
Pmetrics/inst/config/newFort.txt
Pmetrics/src/Pmetrics.so
Pmetrics/src/knn.o
Pmetrics/inst/config/newFort.txt
*.Rd
