.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
Pmetrics.Rcheck/
Pmetrics/man/*
#build
Archived
PACKAGES
PACKAGES.gz
PACKAGES.rds
PMchangelog.html
src/Pmetrics.so
src/knn.o
PmetricsGit.Rproj
inst/compiledFortran/
.DS_Store
src/symbols.rds
tests/testthat/Runs/
..Rcheck/
.vscode/