.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
Pmetrics.Rcheck/
Pmetrics/man/*
#build
Archived
PACKAGES
PACKAGES.gz
PACKAGES.rds
PMchangelog.html
Pmetrics/src/Pmetrics.so
Pmetrics/src/knn.o
PmetricsGit.Rproj
Pmetrics/inst/compiledFortran/
.DS_Store
Pmetrics/src/symbols.rds
Pmetrics/tests/testthat/Runs/
