export(autonpde)
exportClasses(NpdeData)
exportClasses(NpdeRes)
exportClasses(NpdeObject)
exportClasses(NpdeSimData)
export(dist.pred.sim)
export(gof.test)
export(gof.test.NpdeObject)
export(gof.test.NpdeRes)
export(gof.test.numeric)
export(kurtosis)
exportMethods("[<-")
exportMethods("[")
exportMethods(npde.graphs)
exportMethods(npde.save)
export(npde)
export(npdeData)
export(set.plotoptions)
export(showall)
export(skewness)
importFrom(graphics,plot)
S3method(gof.test,NpdeObject)
S3method(gof.test,NpdeRes)
S3method(gof.test,numeric)
S3method(npde.main,NpdeObject)
S3method(plot,NpdeData)
S3method(plot,NpdeObject)
S3method(plot,NpdeRes)
S3method(print,NpdeData)
S3method(print,NpdeObject)
S3method(print,NpdeSimData)
S3method(set.plotoptions,NpdeData)
S3method(set.plotoptions,NpdeObject)
S3method(showall,NpdeData)
S3method(showall,NpdeObject)
S3method(showall,NpdeSimData)
S3method(subset,NpdeData)
S3method(subset,NpdeObject)
S3method(summary,NpdeData)
